.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  text-align: center;
  margin-top: var(--mantine-spacing-xs);
}
